
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #000;
  color: #FFF;
  padding: 20px;
}

.box {
  float: left;
  width: 25%;
  height: 400px;
  background-size: cover;
}

.box:hover > .delete{
  display: block;

}

.delete {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  border: none;
  color: #FFF;
  font-size: 55px;
}

input {
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  height: 25px;
}

input[type="submit"] {
  background: none;
  border: 2px solid #FFF;
  padding:5px;
  color: #FFF;
  height: auto;
}